script(src='../../node_modules/jquery/dist/jquery.min.js')
script(src='../../node_modules/popper.js/dist/umd/popper.min.js')
script(src='../../node_modules/bootstrap/dist/js/bootstrap.min.js')
script(src='../../src/js/aquila-ui.js')

block scripts
