doctype html
html(lang="en")
  head
    base(href=base)
    link(rel="stylesheet", href="../../src/scss/aquila-ui.scss")
    title Aquila UI
    block styles
  body
    block view
    include ../partials/scripts.pug